@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-navy-950 text-gray-100 antialiased;
  }
}

@layer components {
  .section-padding {
    @apply px-4 sm:px-6 lg:px-8 py-16 sm:py-20 lg:py-24;
  }

  .container-max {
    @apply max-w-7xl mx-auto;
  }
}